<div class="container">
  <div class="card">
    <div class="card-content">
      <p class="title">
        <%= render 'form', category: @category %><br/>
      </p>
      <br /><footer class="card-footer">
        <p class="card-footer-item">
          <span>
            <%= link_to 'Back', root_path, class: "button is-danger is-link is-outlined" %>
          </span>
        </p>
      </footer>
    </div>  
  </div>
</div>